@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer ViewLocalizer
@model ILoopModel

<p>
    <span>@ViewLocalizer["View mode"]: </span>
    
    @if (Model.ViewMode == StructureLoopViewMode.Normalized)
    {
        <span>@ViewLocalizer[StructureLoopViewMode.Normalized.ToString()]</span>
    }
    else
    {
        @Html.ActionLink($"{ViewLocalizer[StructureLoopViewMode.Normalized.ToString()].Value}", ViewContext.RouteData.Values["action"]!.ToString(), Model.With(StructureLoopViewMode.Normalized))
    }

    <span>| </span>

    @if (Model.ViewMode == StructureLoopViewMode.Interpreted)
    {
        <span>@ViewLocalizer[StructureLoopViewMode.Interpreted.ToString()]</span>
    }
    else
    {
        @Html.ActionLink($"{ViewLocalizer[StructureLoopViewMode.Interpreted.ToString()].Value}", ViewContext.RouteData.Values["action"]!.ToString(), Model.With(StructureLoopViewMode.Interpreted))
    }
</p>