@using System.Text.Json
@using HarmonyDB.Index.Api.Model.VExternal1
@using OneShelf.Common.Api.Client
@model SearchModel

@{
    ViewBag.Title = "Progressions Search";
    Layout = "_Layout";

    SearchResponse? response = ViewBag.Response;
}

<div>
    <h3 class="d-inline-block">Search songs by chords sequence</h3>
    @Html.ActionLink("\ud83d\udd17Permalink", "Search", "Home", Model with
    {
        JustForm = true,
}, new { target = "_blank" })
</div>

@using (Html.BeginForm("Search", "Home", Model, FormMethod.Get))
{
    <p>
        Progression: @Html.TextBoxFor(x => x.Query)
    </p>
    <p>
        Ordering:
        <label>
            @Html.RadioButtonFor(x => x.Ordering, SearchRequestOrdering.ByCoverage)
            By Coverage
        </label>
        
        <label>
            @Html.RadioButtonFor(x => x.Ordering, SearchRequestOrdering.ByRating)
            By Rating
        </label>
    </p>
    <p>
        Min coverage (real, 0&ndash;1): @Html.TextBoxFor(x => x.MinCoverage)
    </p>
    <p>
        Min rating (whole, 0&ndash;100): @Html.TextBoxFor(x => x.MinRating)
    </p>
    <p>
        Songs Per Page: @Html.TextBoxFor(x => x.SongsPerPage)
    </p>
    <p>
        <label>
            @Html.CheckBoxFor(x => x.IncludeTrace)
            Include the Index API trace for developers
        </label>
    </p>
    <input type="submit" value="Search" onclick="this.form.submit(); this.disabled=true; this.value='Querying (takes 5–60 seconds)…'; " />
}

@if (response != null)
{
    <div class="mt-4">
        <h3 class="d-inline-block">Results</h3>
        @Html.ActionLink("\ud83d\udd17Permalink", "Search", "Home", Model, new { target = "_blank" })
    </div>

    @await Html.PartialAsync("Paging", Model)

    <table>
        <thead>
        <tr>
            <td>Artists</td>
            <td>Title</td>
            <td>Source</td>
            <td>Rating</td>
            <td>Coverage</td>
        </tr>
        </thead>
        @foreach (var song in response.Songs)
        {
            <tr>
                <td>@string.Join(", ", song.Header.Artists ?? Enumerable.Empty<string>())</td>
                <td>@Html.ActionLink(song.Header.Title, "Song", "Home", new SongModel { ExternalId = song.Header.ExternalId, Highlight = Model.Query })</td>
                <td>@song.Header.Source</td>
                <td>@((int)song.Header.Rating)%</td>
                <td>@((int)(song.Coverage * 100))%</td>
            </tr>
        }
    </table>

    @await Html.PartialAsync("Paging", Model)
}

@await Html.PartialAsync("Trace")