@using System.Reflection
@using System.Text.Json
@using HarmonyDB.Common
@using HarmonyDB.Source.Api.Model.V1
@using OneShelf.Common
@using OneShelf.Common.Songs.Tools
@model SongModel

@{
    Chords chords = ViewBag.Chords;
    var title = $"{string.Join(", ", chords.Artists ?? [])} – {chords.Title}, Harmony DB";

    ViewBag.Title = title;
    Layout = "_Layout";
}

<script src="~/js/Player.js"></script>
@Html.Hidden("parsedChords", JsonSerializer.Serialize(ViewBag.Parsed), null)

<div>
    <h3 class="d-inline-block">@title</h3>
    @Html.ActionLink("\ud83d\udd17Permalink", "Song", Model, new { target = "_blank" })
</div>
<ul>
    <li>
        <a href="@chords.SourceUri">Source URL: @string.Join(".", chords.SourceUri.Host.Split('.').TakeLast(2))</a>
    </li>

    @if (Model.Highlight != null)
    {
        <li>
            @Html.ActionLink($"Clear highlighting {Model.Highlight}", "Song", Model with { Highlight = null })
        </li>
    }

    <li>
        <span>Transpose: </span>
        @for (var i = -7; i <= 7; i++)
        {
            if (i > -7)
            {
                <span> | </span>
            }

            @if (i == Model.Transpose)
            {
                <span>@i</span>
            }
            else
            {
                @Html.ActionLink(i.Transposition(), "Song", Model with { Transpose = i })
            }
        }
    </li>

    <li>
        <span>Preferred alteration: </span>
        @{
            (string title, NoteAlteration? alteration)[] alterations = [("Original", null), ("Flats", NoteAlteration.Flat), ("Sharps", NoteAlteration.Sharp)];
        }
        @foreach (var (alteration, isFirst) in alterations.WithIsFirst())
        {
            if (!isFirst)
            {
                <span> | </span>
            }

            if (alteration.alteration == Model.Alteration)
            {
                <span>@alteration.title</span>
            }
            else
            {
                @Html.ActionLink(alteration.title, "Song", Model with { Alteration = alteration.alteration })
            }
        }
    </li>

    <li>
        @using (Html.BeginForm("Song", "Home", Model, FormMethod.Get))
        {
            @Html.HiddenFor(x => x.Alteration)
            @Html.HiddenFor(x => x.Highlight)
            @Html.HiddenFor(x => x.Transpose)
            @Html.HiddenFor(x => x.ExternalId)
            @Html.HiddenFor(x => x.IncludeTrace)
            <span>Show complex chords: </span>
            <label>
                @Html.CheckBoxFor(x => x.Show7)
                <span> 7</span>
            </label>
            <label>
                @Html.CheckBoxFor(x => x.ShowSus)
                <span> sus</span>
            </label>
            <label>
                @Html.CheckBoxFor(x => x.ShowBass)
                <span> bass</span>
            </label>
            <label>
                @Html.CheckBoxFor(x => x.Show6)
                <span> 6</span>
            </label>
            <label>
                @Html.CheckBoxFor(x => x.Show9)
                <span> 9, 11, 13</span>
            </label>
            <input type="submit" value="Apply"/>
        }
    </li>

    <li>
        @if (Model.IncludeTrace)
        {
            @Html.ActionLink("Exclude the Index API trace for developers", "Song", Model with { IncludeTrace = false })
        }
        else
        {
            @Html.ActionLink("Include the Index API trace for developers", "Song", Model with { IncludeTrace = true })
        }
    </li>
</ul>

<div class="chords-block">
    @Html.Raw(chords.Output.AsHtml(ViewBag.RepresentationSettings))
</div>

@await Html.PartialAsync("Trace")