@using System.Text.Json
@using HarmonyDB.Source.Api.Model.V1
@model SongModel

@{
    Chords chords = ViewBag.Chords;
    var title = $"{string.Join(", ", chords.Artists ?? [])} – {chords.Title}, Harmony DB";

    ViewBag.Title = title;
    Layout = "_Layout";
}

<script src="~/js/Player.js"></script>
@Html.Hidden("parsedChords", JsonSerializer.Serialize(ViewBag.Parsed), null)

<div>
    <h3 class="d-inline-block">@title</h3>
    @Html.ActionLink("\ud83d\udd17Permalink", "Song", "Home", Model, new { target = "_blank" })
</div>
@if (Model.IncludeTrace)
{
    @Html.ActionLink("Exclude the Index API trace for developers", "Song", "Home", Model with { IncludeTrace = false }, null)
}
else
{
    @Html.ActionLink("Include the Index API trace for developers", "Song", "Home", Model with { IncludeTrace = true }, null)
}

<div class="chords-block">
    @Html.Raw(chords.Output.AsHtml(ViewBag.RepresentationSettings))
</div>

@await Html.PartialAsync("Trace")