@using HarmonyDB.Index.Api.Model.VExternal1
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer ViewLocalizer
@model PagedRequestBase

@{
    PagedResponseBase? response = ViewBag.Response;
}

<p>
    <span>@ViewLocalizer["Total results"]: @response.Total</span>

    @if (Model.PageNumber > 2)
    {
        <span>
            <span>| </span>
            @Html.ActionLink($"{ViewLocalizer["Page"].Value} 1", ViewContext.RouteData.Values["action"]!.ToString(), "Home", Model with
            {
                PageNumber = 1,
            })
        </span>
    }
    @if (Model.PageNumber > 1)
    {
        <span>
            <span>| </span>
            @Html.ActionLink(ViewLocalizer["Previous Page"].Value, ViewContext.RouteData.Values["action"]!.ToString(), "Home", Model with
            {
                PageNumber = Model.PageNumber - 1,
            })
        </span>
    }
    <span>| @ViewLocalizer["Current page"]: @Model.PageNumber</span>
    @if (Model.PageNumber < response.TotalPages)
    {
        <span>
            <span>| </span>
            @Html.ActionLink(ViewLocalizer["Next Page"].Value, ViewContext.RouteData.Values["action"]!.ToString(), "Home", Model with
            {
                PageNumber = Model.PageNumber + 1,
            })
        </span>
    }
    @if (Model.PageNumber < response.TotalPages - 1)
    {
        <span>
            <span>| </span>
            @Html.ActionLink($"{ViewLocalizer["Page"].Value} {response.TotalPages}", ViewContext.RouteData.Values["action"]!.ToString(), "Home", Model with
            {
                PageNumber = response.TotalPages,
            })
        </span>
    }
</p>