@using System.Text.Json
@using OneShelf.Common.Api.Client
@{
    ApiTraceBag? trace = ViewBag.Trace;
}

@if (trace != null)
{
    <h3 class="mt-4">Trace</h3>
    @foreach (var request in trace.Requests)
    {
        <h4>@request.Method @request.Url</h4>
        @if (request.Request != null)
        {
            <p>
                Request:
                <pre>@JsonSerializer.Serialize(request.Request, new JsonSerializerOptions { WriteIndented = true, })</pre>
            </p>
        }
        @if (request.Response != null)
        {
            <p>
                Request:
                <pre>@JsonSerializer.Serialize(request.Response, new JsonSerializerOptions { WriteIndented = true, })</pre>
            </p>
        }
        <p>
            Time taken: @request.TimeTaken
        </p>
    }
}